* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif; }

.header {
  width: 100%;
  position: fixed;
  z-index: 2;
  transition: 0.15s linear; }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 20px;
    max-width: 1140px;
    margin: 0 auto;
    transition: 0.15s linear; }
    .header__container__logo__link {
      display: inline-block;
      width: 154px;
      height: 53px; }
      .header__container__logo__link__image {
        width: 100%;
        height: 100%; }
      .header__container__logo__link__image-blue {
        display: none; }
    .header__container__nav__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style-type: none; }
      .header__container__nav__list__list-item {
        padding-left: 35px; }
        .header__container__nav__list__list-item__link {
          font-style: inherit;
          font-size: 14px;
          text-decoration: none;
          line-height: 1.41;
          color: #eee;
          padding: 8px 0;
          transition: 0.15s linear; }
        .header__container__nav__list__list-item__link:hover {
          color: #ff931e; }

.sticky {
  background-color: white; }
  .sticky .header__container {
    padding: 10px 20px 10px; }
    .sticky .header__container__logo__link {
      display: inline-block;
      width: 154px;
      height: 53px; }
      .sticky .header__container__logo__link__image {
        display: none; }
      .sticky .header__container__logo__link__image-blue {
        display: block;
        width: 100%;
        height: 100%; }
    .sticky .header__container__nav__list__list-item__link {
      color: black; }
    .sticky .header__container__nav__list__list-item__link:hover {
      color: #ff931e; }

.first-company-section {
  width: 100%;
  height: 100vh;
  position: relative; }
  .first-company-section__color {
    position: absolute;
    background-color: black;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .first-company-section__image {
    position: absolute;
    background-image: url(https://www.simbrella.com/site/assets/files/1040/cover.jpg);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: cover;
    z-index: -2; }
  .first-company-section__text {
    position: relative;
    top: 35%;
    color: #ffffff;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px; }
    .first-company-section__text__wrapper {
      position: absolute;
      max-width: 610px; }
      .first-company-section__text__wrapper__h1 {
        font-size: 45px;
        padding-bottom: 16px;
        line-height: 1.29;
        font-weight: 600;
        animation-duration: 0.8s;
        animation-name: moving; }
      .first-company-section__text__wrapper__p {
        padding-bottom: 48px;
        line-height: 1.87;
        font-size: 15px;
        animation-duration: 0.8s;
        animation-name: moving; }
      .first-company-section__text__wrapper__scroll-link {
        text-decoration: none;
        color: white;
        font-size: 14px;
        display: inline-block;
        margin-top: 135px;
        position: relative; }
        .first-company-section__text__wrapper__scroll-link__span {
          padding-left: 34px;
          font-size: 12px; }
      .first-company-section__text__wrapper__scroll-link::before {
        content: "";
        background-image: url(https://www.simbrella.com/site/templates/img/mouse_icon.svg);
        background-repeat: no-repeat;
        background-position: 0 0;
        width: 22px;
        height: 43px;
        display: block;
        position: absolute;
        top: -100%;
        left: 0; }

.what-we-do {
  width: 100%;
  min-height: calc(100vh - 80px);
  padding: 35px 0 60px; }
  .what-we-do__about {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    padding-bottom: 40px;
    animation-duration: 0.8s;
    animation-name: moving;
    opacity: 0;
    transform: translate(0, 60px);
    transition: all 0.5s;
    visibility: hidden; }
    .what-we-do__about__head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 40px; }
      .what-we-do__about__head h2 {
        font-size: 36px;
        color: #2D3192; }
      .what-we-do__about__head__read-more a {
        display: inline-block;
        height: 56px;
        padding: 0 100px 0 24px;
        font-weight: 600;
        font-size: 15px;
        line-height: 56px;
        color: #222;
        text-decoration: none;
        background: url(https://www.simbrella.com/site/templates/img/link_orange_icon.svg) no-repeat calc(100% - 24px) 50%;
        box-shadow: inset 0 0 0 3px #dfe4eb;
        border-radius: 12px;
        animation-duration: 0.15s;
        transition: all 0.15s linear; }
      .what-we-do__about__head__read-more a:hover {
        background: url(https://www.simbrella.com/site/templates/img/link_orange_icon.svg) no-repeat calc(100% - 20px) 50%;
        box-shadow: inset 0 0 0 3px #ff931e; }
    .what-we-do__about__three-box {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .what-we-do__about__three-box__left {
        padding: 40px 20px;
        position: relative;
        box-shadow: inset 0 0 0 1px #d5dde4;
        border-radius: 4px;
        width: 32%;
        height: 450px;
        transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1); }
        .what-we-do__about__three-box__left__in-div {
          width: 100%;
          position: relative;
          height: 230px;
          text-align: center; }
          .what-we-do__about__three-box__left__in-div__img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-color: white;
            z-index: 1;
            opacity: 1;
            background-image: url(https://www.simbrella.com/site/assets/files/1043/1.svg);
            transition: all 0.2s ease-out; }
        .what-we-do__about__three-box__left h3 {
          padding-bottom: 16px;
          font-size: 20px;
          line-height: 1.25;
          text-align: center;
          letter-spacing: 0.5px;
          color: #222; }
        .what-we-do__about__three-box__left p {
          font-size: 16px;
          line-height: 1.62;
          text-align: center;
          color: #5f6773; }
        .what-we-do__about__three-box__left__link {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1; }
      .what-we-do__about__three-box__left:hover {
        transform: scale(1.03); }
      .what-we-do__about__three-box__middle {
        padding: 40px 20px;
        position: relative;
        box-shadow: inset 0 0 0 1px #d5dde4;
        border-radius: 4px;
        width: 32%;
        height: 450px;
        transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1); }
        .what-we-do__about__three-box__middle__in-div {
          width: 100%;
          position: relative;
          height: 230px;
          text-align: center; }
          .what-we-do__about__three-box__middle__in-div__img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-color: white;
            z-index: 1;
            opacity: 1;
            background-image: url(https://www.simbrella.com/site/assets/files/1044/2_1.svg);
            transition: all 0.2s ease-out; }
        .what-we-do__about__three-box__middle h3 {
          padding-bottom: 16px;
          font-size: 20px;
          line-height: 1.25;
          text-align: center;
          letter-spacing: 0.5px;
          color: #222; }
        .what-we-do__about__three-box__middle p {
          font-size: 16px;
          line-height: 1.62;
          text-align: center;
          color: #5f6773; }
        .what-we-do__about__three-box__middle__link {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1; }
      .what-we-do__about__three-box__middle:hover {
        transform: scale(1.03); }
      .what-we-do__about__three-box__right {
        padding: 40px 20px;
        position: relative;
        box-shadow: inset 0 0 0 1px #d5dde4;
        border-radius: 4px;
        width: 32%;
        height: 450px;
        transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1); }
        .what-we-do__about__three-box__right__in-div {
          width: 100%;
          position: relative;
          height: 230px;
          text-align: center; }
          .what-we-do__about__three-box__right__in-div__img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-color: white;
            z-index: 1;
            opacity: 1;
            background-image: url(https://www.simbrella.com/site/assets/files/1045/3-1.svg);
            transition: all 0.2s ease-out; }
        .what-we-do__about__three-box__right h3 {
          padding-bottom: 16px;
          font-size: 20px;
          line-height: 1.25;
          text-align: center;
          letter-spacing: 0.5px;
          color: #222; }
        .what-we-do__about__three-box__right p {
          font-size: 16px;
          line-height: 1.62;
          text-align: center;
          color: #5f6773; }
        .what-we-do__about__three-box__right__link {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1; }
      .what-we-do__about__three-box__right:hover {
        transform: scale(1.03); }

.active {
  opacity: 1;
  transform: translate(0, 0);
  visibility: visible; }

@keyframes moving {
  from {
    opacity: 0;
    transform: translate(0, 60px); }
  to {
    opacity: 1;
    transform: translate(0, 0); } }

.our-products {
  padding: 60px 0;
  background-color: #2d3192;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(https://www.simbrella.com/site/templates/img/products_bg.svg);
  background-size: cover; }
  .our-products__index {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px; }
    .our-products__index h2 {
      padding: 0 0 60px;
      font-weight: 600;
      font-size: 48px;
      line-height: 1.29;
      letter-spacing: 1px;
      color: #fff; }
    .our-products__index__round svg {
      position: absolute;
      width: 0;
      height: 0; }
    .our-products__index__round {
      width: 618px;
      height: 624px;
      margin: 0 auto;
      position: relative; }
      .our-products__index__round__block a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-weight: bold;
        font-size: 15px;
        line-height: 1;
        text-align: center;
        letter-spacing: 1px;
        color: #fff;
        text-decoration: none;
        background-color: #3595EE;
        object-fit: cover;
        transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
        flex-wrap: nowrap;
        align-content: stretch; }
      .our-products__index__round__block a:hover {
        color: #3595EE;
        background-color: #fff; }
      .our-products__index__round__block span {
        display: inline-block;
        padding: 0 15px; }
      .our-products__index__round__block span.span_1 {
        margin: 15px 15px 0 0; }
      .our-products__index__round__block span.span_2 {
        margin: 15px 0 0 15px; }
      .our-products__index__round__block span.span_3 {
        margin: 0 0 15px 15px; }
      .our-products__index__round__block span.span_4 {
        margin: 0 15px 15px 0; }
      .our-products__index__round__block.item_1 {
        width: 210px;
        height: 150px;
        position: absolute;
        left: calc(50% - 105px);
        top: 0; }
        .our-products__index__round__block.item_1 a {
          clip-path: url(#clip_1); }
      .our-products__index__round__block.item_2 {
        width: 202px;
        height: 202px;
        position: absolute;
        left: 386px;
        top: 31px; }
        .our-products__index__round__block.item_2 a {
          clip-path: url(#clip_2); }
      .our-products__index__round__block.item_3 {
        width: 150px;
        height: 210px;
        position: absolute;
        left: 468px;
        top: 208px; }
        .our-products__index__round__block.item_3 a {
          clip-path: url(#clip_3); }
      .our-products__index__round__block.item_4 {
        width: 202px;
        height: 202px;
        position: absolute;
        left: 386px;
        top: 390px; }
        .our-products__index__round__block.item_4 a {
          clip-path: url(#clip_4); }
      .our-products__index__round__block.item_5 {
        width: 210px;
        height: 150px;
        position: absolute;
        left: 204px;
        top: 474px; }
        .our-products__index__round__block.item_5 a {
          clip-path: url(#clip_5); }
      .our-products__index__round__block.item_6 {
        width: 202px;
        height: 202px;
        position: absolute;
        left: 28px;
        top: 390px; }
        .our-products__index__round__block.item_6 a {
          clip-path: url(#clip_6); }
      .our-products__index__round__block.item_7 {
        width: 150px;
        height: 210px;
        position: absolute;
        left: 0;
        top: 208px; }
        .our-products__index__round__block.item_7 a {
          clip-path: url(#clip_7); }
      .our-products__index__round__block.item_8 {
        width: 202px;
        height: 202px;
        position: absolute;
        left: 29px;
        top: 31px; }
        .our-products__index__round__block.item_8 a {
          clip-path: url(#clip_8); }
      .our-products__index__round__info-center p {
        width: 270px;
        height: auto;
        font-size: 11px;
        line-height: 1.54;
        text-align: center;
        letter-spacing: 1px;
        color: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, calc(10px - 50%));
        opacity: 0;
        visibility: hidden;
        transition: 0.46s cubic-bezier(0.39, 0.575, 0.565, 1);
        transition-delay: 0s; }

.show_me {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
  transition-delay: 0.1s; }

.financial-solution::before {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  background: rgba(45, 49, 146, 0.6);
  position: absolute;
  right: 0;
  top: 0;
  animation-duration: 0.9s;
  transition: all 0.9s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.2s; }

.financial-solution {
  min-height: calc(100vh - 80px);
  height: calc(100vh - 80px);
  padding: 35px 0 60px;
  background-color: #f6f8fe;
  background-image: url(https://www.simbrella.com/site/assets/files/1049/solutions_bg-1.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
  .financial-solution__powered {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0 auto;
    height: 100%;
    position: relative; }
    .financial-solution__powered h2 {
      width: calc(50% - 0px);
      padding: 0 40px;
      font-weight: bold;
      font-size: 54px;
      line-height: 1.29;
      letter-spacing: 1px;
      color: #fff;
      text-shadow: 2px 2px 6px black;
      transform: translate(-20px, 0);
      animation-duration: 0.6s;
      transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1); }
      .financial-solution__powered h2 span {
        display: block;
        max-width: 520px;
        margin: 0 auto; }
    .financial-solution__powered__list {
      width: calc(50% - 0px);
      padding: 40px 60px;
      border-radius: 4px; }
      .financial-solution__powered__list ul {
        max-width: 520px;
        margin: 0 auto; }
        .financial-solution__powered__list ul li {
          padding: 32px 0;
          border-bottom: 1px solid rgba(255, 255, 255, 0.15);
          transform: translate(0, 10px);
          animation-duration: 0.6s;
          transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
          transition-delay: 0.4s;
          list-style: none; }
          .financial-solution__powered__list ul li h3 {
            padding: 0 0 0px;
            font-weight: bold;
            font-size: 21px;
            line-height: 1.12;
            color: #fff; }

.achievements {
  min-height: calc(100vh - 80px);
  padding: 60px 0 0px; }
  .achievements__block {
    max-width: 1080px;
    padding: 0 20px;
    margin: 0 auto; }
    .achievements__block h2 {
      padding: 0 0 40px;
      font-weight: bold;
      font-size: 31px;
      line-height: 1.29;
      letter-spacing: 1px;
      color: #2D3192; }
    .achievements__block__three {
      display: flex;
      justify-content: space-around;
      padding: 90px 0; }
      .achievements__block__three article {
        width: calc(33.333% - 20px); }
        .achievements__block__three article h3 {
          padding: 0 0 8px;
          font-weight: bold;
          font-size: 42px;
          line-height: 1;
          letter-spacing: 1px;
          color: #ff931e; }
        .achievements__block__three article p {
          font-weight: 500;
          font-size: 14px;
          line-height: 1.86;
          text-transform: uppercase;
          color: #222; }
        .achievements__block__three article strong {
          position: absolute;
          left: -100500px; }
        .achievements__block__three article span {
          display: inline-block;
          width: 32px;
          vertical-align: bottom;
          overflow: hidden;
          position: relative;
          animation-duration: 0.25s;
          transition: all 0.25s linear; }

.our-clients {
  min-height: calc(100vh - 80px);
  padding: 35px 0 60px;
  background: #f6f8fe;
  opacity: 1;
  transform: translate(0, 60px);
  animation-duration: 0.6s;
  transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1); }
  .our-clients__img {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px; }
    .our-clients__img h2 {
      padding: 0 0 30px;
      font-weight: bold;
      font-size: 32px;
      line-height: 1.29;
      letter-spacing: 1px;
      color: #2D3192; }
    .our-clients__img__grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-auto-rows: minmax(min-content, max-content);
      grid-gap: 30px 30px; }
      .our-clients__img__grid figure {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 160px;
        margin: 0;
        border: 1px solid #d5dde4;
        background: #fff;
        position: relative;
        border-radius: 4px; }
        .our-clients__img__grid figure img {
          max-height: 90px;
          max-width: calc(100% - 60px); }
      .our-clients__img__grid__no-border {
        border: none; }
        .our-clients__img__grid__no-border__link {
          width: 100%;
          height: 100%;
          font-weight: bold;
          font-size: 24px;
          line-height: 1.8;
          text-align: center;
          letter-spacing: 0.01em;
          color: #fff;
          position: absolute;
          left: 0;
          top: 0; }
          .our-clients__img__grid__no-border__link span {
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 0 20px;
            border: 1px solid #d5dde4;
            color: #333;
            text-decoration: none;
            background: #fff;
            position: relative;
            border-radius: 4px; }

.index-team {
  min-height: calc(100vh - 80px);
  padding: 35px 0 60px; }
  .index-team__head {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px; }
    .index-team__head h2 {
      padding: 50px 0 30px;
      font-weight: bold;
      font-size: 36px;
      line-height: 1.29;
      letter-spacing: 1px;
      color: #2d3192; }
    .index-team__head__grid {
      font-size: 0;
      text-align: center; }
      .index-team__head__grid__main {
        width: calc(100% + 30px);
        margin: 0 0 0 -15px; }
        .index-team__head__grid__main figure {
          width: calc(20% - 30px);
          margin: 0 15px 48px;
          display: inline-block;
          vertical-align: top; }
          .index-team__head__grid__main figure image {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            height: 270px;
            background-color: #e3eaff;
            background-image: url(../img/figure_green_bg.png);
            background-repeat: no-repeat;
            background-position: 0px 50%;
            background-size: cover;
            border-radius: 4px; }
            .index-team__head__grid__main figure image img {
              display: block;
              width: 100%; }
          .index-team__head__grid__main figure figcaption {
            padding: 16px 0 0; }
          .index-team__head__grid__main figure h3 {
            padding: 0 0 4px;
            font-weight: 600;
            font-size: 18px;
            line-height: 1.33;
            letter-spacing: -0.02em;
            color: #222; }
          .index-team__head__grid__main figure p {
            font-size: 15px;
            line-height: 1.6;
            letter-spacing: -0.02em;
            color: #5f6773; }
        .index-team__head__grid__main hr {
          border: none; }

.index_advantages {
  padding: 35px 0 0;
  background: #f6f8fe; }
  .index_advantages__head {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    opacity: 1;
    transform: translate(0, 60px);
    animation-duration: 0.6s;
    transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1); }
    .index_advantages__head h2 {
      padding: 0 0 30px;
      font-weight: bold;
      font-size: 36px;
      line-height: 1.29;
      letter-spacing: 0.01em;
      color: #2d3192; }
    .index_advantages__head__grid {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0 30px; }
      .index_advantages__head__grid article {
        width: calc(33.333% - 40px); }
        .index_advantages__head__grid article .icon {
          padding: 0 0 10px; }
        .index_advantages__head__grid article h3 {
          padding: 0 0 0;
          font-weight: bold;
          font-size: 20px;
          line-height: 1.6;
          letter-spacing: 0.01em;
          color: #222; }

.advantage {
  padding: 0 0 60px;
  background: #f6f8fe;
  position: relative;
  opacity: 1;
  transform: translate(0, 60px);
  animation-duration: 0.6s;
  transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-delay: 0.2s; }
  .advantage__article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px; }
    .advantage__article__image {
      width: 50%;
      position: relative; }
      .advantage__article__image img {
        display: block;
        width: 100%;
        border-radius: 4px; }
    .advantage__article__inner {
      width: 55%;
      margin: 0 0 0 -15%;
      padding: 40px 60px;
      color: #fff;
      background: #2d3192;
      border-radius: 4px;
      position: relative; }
      .advantage__article__inner h3 {
        padding: 0 0 32px;
        font-weight: bold;
        font-size: 30px;
        line-height: 1.4;
        letter-spacing: 0.01em;
        color: #fff; }
      .advantage__article__inner p {
        padding: 0 0 40px;
        font-size: 16px;
        line-height: 1.56; }
      .advantage__article__inner .link a {
        display: inline-block;
        height: 56px;
        padding: 0 100px 0 24px;
        font-weight: 600;
        font-size: 15px;
        line-height: 56px;
        color: #fff;
        text-decoration: none;
        background: url(https://www.simbrella.com/site/templates/img/link_orange_icon.svg) no-repeat calc(100% - 24px) 50%;
        box-shadow: inset 0 0 0 3px #fff;
        border-radius: 12px;
        animation-duration: 0.15s;
        transition: all 0.15s linear; }
      .advantage__article__inner .link a:hover {
        background: url(https://www.simbrella.com/site/templates/img/link_orange_icon.svg) no-repeat calc(100% - 20px) 50%;
        box-shadow: inset 0 0 0 3px #ff931e; }

.latest {
  min-height: calc(100vh - 80px);
  padding: 35px 0 80px; }
  .latest__news {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    transform: translate(0, 60px);
    animation-duration: 0.6s;
    transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1); }
    .latest__news__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0 40px; }
      .latest__news__header h2 {
        font-weight: bold;
        font-size: 36px;
        line-height: 1.3;
        letter-spacing: 0.01em;
        color: #2D3192; }
      .latest__news__header .link a {
        display: inline-block;
        height: 56px;
        padding: 0 100px 0 24px;
        font-weight: 600;
        font-size: 15px;
        line-height: 56px;
        color: #222;
        text-decoration: none;
        background: url(https://www.simbrella.com/site/templates/img/link_orange_icon.svg) no-repeat calc(100% - 24px) 50%;
        box-shadow: inset 0 0 0 3px #dfe4eb;
        border-radius: 12px;
        animation-duration: 0.15s;
        transition: all 0.15s linear; }
      .latest__news__header .link a:hover {
        background: url(https://www.simbrella.com/site/templates/img/link_orange_icon.svg) no-repeat calc(100% - 20px) 50%;
        box-shadow: inset 0 0 0 3px #ff931e; }
    .latest__news__three-news {
      display: flex;
      justify-content: flex-start; }
      .latest__news__three-news article {
        width: calc(33.333% - 20px);
        margin: 0 0 0 30px;
        position: relative; }
        .latest__news__three-news article .image {
          margin: 0 0 24px;
          font-size: 0;
          border-radius: 6px;
          overflow: hidden;
          position: relative; }
          .latest__news__three-news article .image img {
            display: block;
            width: 100%;
            animation-duration: 0.3s;
            transition: all 0.3s linear; }
        .latest__news__three-news article h3 {
          padding: 0 0 48px;
          font-weight: 500;
          font-size: 18px;
          line-height: 1.75;
          color: #222; }
        .latest__news__three-news article time {
          font-size: 18px;
          line-height: 1.33;
          color: #5f6773; }
      .latest__news__three-news article:hover .image img {
        transform: scale(1.05); }
      .latest__news__three-news article:first-child {
        margin: 0; }

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  padding: 35px 0 25px;
  min-height: calc(100vh - 80px);
  background-color: #000;
  background-image: url(https://www.simbrella.com/site/templates/img/footer_bg.svg);
  background-repeat: no-repeat;
  background-position: 0 50%; }
  .footer__first {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch; }
    .footer__first h2 {
      font-weight: bold;
      font-size: 36px;
      line-height: 1.29;
      letter-spacing: 0.01em;
      color: #fff; }
    .footer__first__r-side {
      width: calc(100% - 360px); }
      .footer__first__r-side header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        padding: 0 0 50px; }
        .footer__first__r-side header .footer-nav {
          font-size: 0; }
          .footer__first__r-side header .footer-nav ul li {
            display: inline-block;
            padding: 0 48px;
            border-left: 1px solid #505050; }
            .footer__first__r-side header .footer-nav ul li a {
              font-weight: bold;
              font-size: 18px;
              line-height: 1.33;
              letter-spacing: 0.01em;
              color: rgba(255, 255, 255, 0.5);
              text-decoration: none;
              text-transform: uppercase;
              animation-duration: 0.15s;
              transition: all 0.15s linear; }
            .footer__first__r-side header .footer-nav ul li a:hover {
              color: #ff931e; }
            .footer__first__r-side header .footer-nav ul li a.active {
              color: #ff931e; }
          .footer__first__r-side header .footer-nav ul li:first-child {
            border-left: none;
            padding-left: 0; }
        .footer__first__r-side header .link a {
          display: inline-block;
          height: 56px;
          padding: 0 90px 0 24px;
          font-weight: 600;
          font-size: 15px;
          line-height: 56px;
          color: #fff;
          text-decoration: none;
          background: url(https://www.simbrella.com/site/templates/img/link_orange_icon.svg) no-repeat calc(100% - 24px) 50%;
          box-shadow: inset 0 0 0 3px #dfe4eb;
          border-radius: 12px;
          animation-duration: 0.15s;
          transition: all 0.15s linear; }
        .footer__first__r-side header .link a:hover {
          background: url(https://www.simbrella.com/site/templates/img/link_orange_icon.svg) no-repeat calc(100% - 20px) 50%;
          box-shadow: inset 0 0 0 3px #ff931e; }
      .footer__first__r-side__contacts {
        margin-top: 150px;
        margin-left: 245px; }
        .footer__first__r-side__contacts ul {
          display: none; }
          .footer__first__r-side__contacts ul li {
            padding: 0 0 48px; }
            .footer__first__r-side__contacts ul li span {
              display: block;
              padding: 0 0 12px;
              font-size: 18px;
              line-height: 1.45;
              color: rgba(255, 255, 255, 0.6); }
            .footer__first__r-side__contacts ul li p {
              font-weight: 500;
              font-size: 20px;
              line-height: 1.54;
              color: #fff; }
            .footer__first__r-side__contacts ul li p a {
              color: #fff;
              text-decoration: none; }
        .footer__first__r-side__contacts ul.show_me {
          display: block; }

.footer-last {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 40px 20px 0;
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch; }
  .footer-last__jis {
    display: flex;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center; }
    .footer-last__jis p {
      padding: 0 10px 0 0;
      font-size: 12px;
      line-height: 2.67;
      color: #fff; }
    .footer-last__jis a {
      display: inline-block;
      padding: 0 0 0 30px;
      font-weight: 500;
      font-size: 12px;
      line-height: 2.67;
      color: #fff;
      text-decoration: none;
      position: relative; }
    .footer-last__jis a::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background: url(https://www.simbrella.com/site/templates/img/jis_logo.svg) no-repeat 0 0;
      position: absolute;
      left: 0;
      top: calc(50% - 10px); }
  .footer-last__copyright {
    width: calc(100% - 360px);
    font-size: 16px;
    line-height: 1.5;
    color: #999; }

.vacancies-header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: stretch;
  align-items: stretch;
  height: 300px;
  padding: 0 0 70px;
  background-color: #0c0d26;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-image: url(https://www.simbrella.com/site/templates/img/we_do_bg.jpg?v=2);
  background-size: cover; }
  .vacancies-header div {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px; }
    .vacancies-header div h1 {
      font-weight: bold;
      font-size: 36px;
      line-height: 1.29;
      letter-spacing: 0.01em;
      color: #fff; }

.vacancies-header::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  position: absolute;
  left: 0;
  top: 0; }

.what-block article {
  padding: 100px 0;
  background: #f6f8ff; }
  .what-block article div {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px; }

.what-block .image_side {
  width: 430px;
  padding: 40px 24px 60px;
  border: 1px solid #fff;
  background: #fff;
  border-radius: 4px;
  opacity: 0;
  transform: translate(-20px, 0);
  animation-duration: 0.6s;
  transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1); }

.what-block .image {
  width: 100%;
  position: relative;
  height: 230px;
  text-align: center; }

.what-block h3 {
  padding: 0 0 16px;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.01em;
  color: #222; }

.what-block p {
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #5f6773; }

.what-block .r_side {
  width: calc(100% - 600px);
  opacity: 0;
  transform: translate(20px, 0);
  animation-duration: 0.6s;
  transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-delay: 0.2s; }

.what-block article.show_me .image_side {
  opacity: 1;
  transform: translate(0, 0); }

.what-block article.show_me .r_side {
  opacity: 1;
  transform: translate(0, 0); }

.vacancy-header {
  min-height: 1px;
  padding: 120px 0 40px; }
  .vacancy-header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px; }
    .vacancy-header div .info-side {
      display: block;
      width: calc(45% - 40px); }
      .vacancy-header div .info-side h1 {
        padding: 0 0 32px;
        margin-left: 15px;
        font-size: 32px;
        line-height: 1.29;
        font-weight: bold;
        letter-spacing: 0.01em;
        color: #222; }
      .vacancy-header div .info-side .text {
        display: block; }
        .vacancy-header div .info-side .text p {
          padding: 0 0 20px;
          font-size: 18px;
          line-height: 1.56;
          color: #5f6773; }
    .vacancy-header div .image {
      width: 55%; }
      .vacancy-header div .image img {
        max-width: 100%;
        width: 100%; }

.vacanciees-grid {
  padding: 100px 0;
  background: #f6f8fe; }
  .vacanciees-grid div {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 30px 30px;
    grid-auto-rows: 1fr;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px; }
    .vacanciees-grid div article {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: stretch;
      align-items: center;
      padding: 40px 20px;
      background: #fff;
      border: 1px solid #ff931e;
      border-radius: 4px;
      position: relative;
      animation-duration: 0.15s;
      transition: all 0.15s linear; }
    .vacanciees-grid div article:hover {
      background-color: #ff931e;
      cursor: pointer; }
    .vacanciees-grid div article:hover h3 {
      color: #fff; }
    .vacanciees-grid div article:hover p {
      color: #fff; }

footer {
  min-height: 1px;
  padding: 34px 0 34px;
  background-image: none;
  background-color: black; }
  footer .footer-last {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch; }
    footer .footer-last__jis {
      display: flex;
      justify-content: flex-start;
      align-content: stretch;
      align-items: center; }
      footer .footer-last__jis p {
        padding: 0 10px 0 0;
        font-size: 12px;
        line-height: 2.67;
        color: #fff; }
      footer .footer-last__jis a {
        display: inline-block;
        padding: 0 0 0 30px;
        font-weight: 500;
        font-size: 12px;
        line-height: 2.67;
        color: #fff;
        text-decoration: none;
        position: relative; }
      footer .footer-last__jis a::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background: url(https://www.simbrella.com/site/templates/img/jis_logo.svg) no-repeat 0 0;
        position: absolute;
        left: 0;
        top: calc(50% - 10px); }
    footer .footer-last__copyright {
      width: calc(100% - 360px);
      font-size: 16px;
      line-height: 1.5;
      color: #999; }
